html
	head
		title Bulletin Board Application
		link(rel='stylesheet', href='/style.css')

	body
				
		h1 New Message
			#messages
				-var len = Messages.length
				//- console.log(messages)
				-for(var i = 0; i < len; i++) 
					h2
						.messages  #{Messages[i].title}
					p
						.messages  #{Messages[i].body}
			a(href='/new')
				button Post New Message
			a(href='/')
				button Go Home