html
	head
		title Bulletin Board Application
		link(rel='stylesheet', href='/style.css')

	body
				
		h1 New Message
			#blog
				-var len = messages.length;
				-for(var i = 0; i < len; i++) 
					h2
						.messages  #{messages[i].title}
					p
						.messages  #{messages[i].body}
			a(href='/new')
				button Post New Message
